<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../00.Source/css/vue_style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        window.onload = () => {
            new Vue ({
                el: "#app",
                data: {
                    print: false,
                    inp_email:"",
                    inp_password:"",
                }
            })
        }
    </script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inp_email" placeholder="이메일을 입력하세요">
        <input type="password" v-model="inp_password" placeholder="비밀번호를 입력하세요">
        <!-- 아래 버튼을 클릭하면 아래 div 영역에 이메일과 비밀번호를 출력해주세요 -->
        <button v-on:click="print = !print">확인</button>
        <div v-show="print">
            입력된 이메일 : {{inp_email}}
            <br>
            입력된 비밀번호 : {{inp_password}}
        </div>
    </div>
</body>
</html>