<!DOCTYPE html>
<html lang = "ko"
      xmlns:th = "http://www.thymeleaf.org"
>
<head>
    <meta charset = "UTF-8">
    <title>Board Form</title>

    <!--BootStrap5-->
    <link rel = "stylesheet"
          href = "/css/bootstrap.min.css"
    />
    <script src = "/js/bootstrap.min.js"></script>
</head>
<body>
    <header th:insert = "jpa/common/header"></header>
    <div class = "container">
        <form th:action = "@{/jpa/boardWrite}"
              th:object = "${boardDto}"
              method = "post"
              id = "write_update"
        >
            <!--서버로 보내기 위한 id 값-->
            <input type = "hidden"
                   name = "id"
                   th:field = "*{id}"
            >
            <div class = "form-group row">
                <label for = "title"
                       class = "col-sm-2 col-form-label"
                ><strong>제목</strong></label>
            </div>
            <div class = "col-sm-10">
                <input type = "text"
                       id = "title"
                       name = "title"
                       th:field = "*{title}"
                       class = "form-control"
                >
            </div>
            <div class = "form-group row">
                <label for = "writer"
                       class = "col-sm-2 col-form-label"
                ><strong>작성자</strong></label>
            </div>
            <div class = "col-sm-10">
                <input type = "text"
                       id = "writer"
                       name = "writer"
                       th:field = "*{writer}"
                       class = "form-control"
                >
            </div>
            <div class = "form-group row">
                <label for = "content"
                       class = "col-sm-2 col-form-label"
                ><strong>내용</strong></label>
            </div>
            <div class = "col-sm-10">
                <textarea type = "text"
                          id = "content"
                          name = "content"
                          th:field = "*{content}"
                          class = "form-control overflow-auto"
                          style = "min-height: 30vh;"
                ></textarea>
            </div>

            <div th:switch = "${formTitle}"
                 class = "my-2 col-sm-10"
            >
                <button type = "submit"
                        form = "write_update"
                        th:case = "Modification"
                        class="float-end"
                >글 수정
                </button>
                <button type = "submit"
                        form = "write_update"
                        th:case = "NewWrite"
                        class="float-end"
                >글 등록
                </button>
            </div>
        </form>
    </div>


</body>
</html>