<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        window.onload = () =>{
            new Vue({
                el: "#app",
                data: {
                    //객체배열
                    //id: 1, name: "슬라임", hp: 100
                    //id: 2, name: "고블린", hp: 200
                    //id: 3, name: "드래곤", hp: 500
                    list: [
                        {id: 1, name: "슬라임", hp: 100},
                        {id: 2, name: "고블린", hp: 200},
                        {id: 3, name: "드래곤", hp: 500},
                    ],
                },
            })
        }
    </script>
    <style>
        .strong {
            color: red;
        }
    </style>
</head>
<body>
    <!-- 뷰영역 -->
    <div id="app">
        <!-- 아래 데이터를 목록을 만들어서 출력하세요 -->
        <!-- hp > 300 이상이면 "강하다" -->
        <ul>
            <li v-for="a in list" :class = "{strong: a.hp > 300}" :key="a.id">  <!-- :class = "{strong: a.hp > 300}" -> 조건을 만족할때 클래스 추가 -->
                {{a}}
                <span v-if="a.hp > 300">강하다!</span>
            </li>
            <hr>
            <li v-for="a in list" :class = "{strong: a.hp > 300}">  <!-- :class = "{strong: a.hp > 300}" -> 조건을 만족할때 클래스 추가 -->
                ID : {{a.id}} {{a.name}} {{a.hp}}
                <span v-if="a.hp > 300">강하다!</span>
            </li>
        </ul>
    </div>
</body>
</html>