<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../00.Source/css/vue_style.css">
    <script>
        window.onload = () =>{
            new Vue({
                el: "#app",
                data: {
                    header: ["프로그램언어", 2018, 2013, 2008, 2003, 1998],
                    ranking: [
                        ["Java",1,2,1,1,16],
                        ["C",1,2,1,1,16],
                        ["C++",1,2,1,1,16],
                        ["Python",1,2,1,1,16],
                        ["JavaScript",1,2,1,1,16]
                    ]
                }
            })
        }
    </script>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
            margin: 0
        }
    </style>
</head>
<body>
    <h2>이중배열 테이블로 표현하기</h2>
    <div id="app">
        <table>
            <thead>
                <!-- 테이블 헤더 반복 -->
                <th v-for="a in header">{{ a }}</th>
            </thead>
            <tbody>
                <!-- 행 반복 -->
                <tr v-for="b in ranking"> <!-- 랭킹배열의 각 배열은 행으로 불려옴 ->  -->
                    <!-- 열 반복 -->
                    <td v-for="c in b">{{ c }}</td> <!-- 불러온 각 배열이 열 반복되면서 들어가면 다음 배열이 다음 행으로 배치되고 다시 열반복 -->
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>