<!DOCTYPE html>
<html lang = "ko"
      xmlns:th = "http://www.thymeleaf.org"
>
<head>
    <meta charset = "UTF-8">
    <title>Board List</title>

    <!--BootStrap5-->
    <link rel = "stylesheet"
          href = "/css/bootstrap.min.css"
    />
    <script src = "/js/bootstrap.min.js"></script>
</head>
<body>
    <!--th:insert - vue의 component 개념-->
    <header th:insert = "jpa/common/header"></header>

    <div class = "container">
        <!--검색-->
        <form th:action = "@{/jpa/boardList}"
              method = "get"
              class="float-end border-1 my-2"
              id = "searchKeywordForm"
        >
            <label for = "searchKeyword"><strong>제목 & 내용 검색</strong></label>
            <!-- *autocomplete : 앞에서 입력한 값 자동완성 조정 -->
            <input type = "text"
                   id = "searchKeyword"
                   name = "searchKeyword"
                   placeholder = "검색"
                   autocomplete = "off"
            >
            <button type = "submit">Search</button>
        </form>

        <table class = "table">
            <thead class = "thead-light">
            <tr class = "text-center">
                <th>글 번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>글쓴 날</th>
                <th>수정한 날</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody th:each = "board : ${boards}">
            <tr class = "text-center">
                <th>
                    <span th:text = "${board.id}"></span>
                </th>
                <td>
                    <span>
                        <a th:href = "@{/jpa/boardDetail(id = ${board.id})}"
                           th:text = "${board.title}"
                        ></a>
                    </span>
                </td>
                <td>
                    <span th:text = "${board.content}"></span>
                </td>
                <td>
                    <span th:text = "${board.writer}"></span>
                </td>
                <td>
                    <span th:text = "${board.createdDate}"></span>
                </td>
                <td>
                    <span th:text = "${board.modifiedDate}"></span>
                </td>
                <td>
                    <span th:text = "${board.hits}"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            총 게시글 / <span style = "color: red; font-weight: bold"
                        th:text = "${boards.totalElements}"
        ></span>
            현재 페이지 / <span style = "color: green; font-weight: bold"
                         th:text = "${boards.pageable.pageNumber+1}"
        ></span>
            총 페이지 <span style = "color: blue; font-weight: bold"
                        th:text = "${boards.totalPages}"
        ></span>
        </p>
        <ul class="text-center">
            <!--뒤로 가기-->
            <li th:if = "${boards.number == 0}">
                <span style = "color: #999;">Previous</span>
            </li>
            <li th:unless = "${boards.number == 0}">
                <a href = "#"
                   th:href = "@{/jpa/boardList(page=${boards.number -1}, searchKeyword = ${searchKeyword})}"
                >Previous</a>
            </li>
            <!--뒤로 가기 끝-->
            <li>/</li>
            <!--앞으로 가기-->
            <li th:if = "${boards.totalPages == boards.number +1}">
                <span style = "color: #999;">Next</span>
            </li>
            <li th:unless = "${boards.totalPages == boards.number +1}">
                <a href = "#"
                   th:href = "@{/jpa/boardList(page=${boards.number +1}, searchKeyword = ${searchKeyword})}"
                >Next</a>
            </li>
        </ul>
    </div>


</body>
<style>
    ul > li {
        display: inline-block;
        border: 0 solid;
        padding: 10px;
    }

    ul {
        margin-left: -50px;
    }
</style>
</html>